﻿html, body {
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.xdom-dropdown {
    z-index: 1000;
}
.xdom-sticky {
    z-index: 1020;
}
.xdom-fixed {
    z-index: 1030;
}
.xdom-modal-backdrop {
    z-index: 1040;
}
.xdom-modal {
    z-index: 1050;
}
.xdom-popover {
    z-index: 1060;
}
.xdom-tooltip {
    z-index: 1070;
}
.xdom-action-button {
    margin-left: 5pt;
    cursor: pointer;
    font-size: 10pt;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: LightGray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: LightGray;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: LightGray;
}

.modal .table .head * {
    height: unset;
}

i.working {
    animation: fa-spin 2s infinite linear;
}

.icon {
    margin-right: 5pt;
}

.button {
    cursor: pointer;
}

.hitbox {
    cursor: pointer;
}

.indent {
    margin-left: 10px;
    margin-right: 10px;
}

.btn.disabled {
    opacity: .25 !important;
    cursor: default !important;
}

button.working > .fas, button.working > .far, button.working > .fa {
    display: none;
}
a.working, button.working {cursor:not-allowed; opacity: 0.3;}
a.working:after, button.working:after {
    content: "\f110" !important;
    font-weight: 900;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    animation: fa-spin 2s infinite linear;
    margin-left: 5px;
}

.sidebar-brand {
    font-weight: 400;
    font-size: 1.15rem;
    padding: 0rem 1.5rem;
    color: #f8f9fa;
    display: block;
}

.working.far {font-weight: 900 !important;}
.working.far:before {content: "\f110" !important;}
.working.far {animation: fa-spin 2s infinite linear; padding-left:unset;}

.btn-circle, .btn-circle-3d {
    border-radius: 50% !important;
    margin: 5px;
}

.btn-primary.btn-circle {
    -webkit-box-shadow: 0px 0px 3px 1px #245580;
    -moz-box-shadow: 0px 0px 3px 1px #245580;
    box-shadow: 0px 0px 3px 1px #245580;
}

.btn-info.btn-circle {
    -webkit-box-shadow: 0px 0px 3px 1px #28a4c9;
    -moz-box-shadow: 0px 0px 3px 1px #28a4c9;
    box-shadow: 0px 0px 3px 1px #28a4c9;
}

.btn-success.btn-circle {
    -webkit-box-shadow: 0px 0px 3px 1px #3e8f3e;
    -moz-box-shadow: 0px 0px 3px 1px #3e8f3e;
    box-shadow: 0px 0px 3px 1px #3e8f3e;
}

.btn-danger.btn-circle {
    -webkit-box-shadow: 0px 0px 3px 1px #b92c28;
    -moz-box-shadow: 0px 0px 3px 1px #b92c28;
    box-shadow: 0px 0px 3px 1px #b92c28;
}

.btn-warning.btn-circle {
    -webkit-box-shadow: 0px 0px 3px 1px #e38d13;
    -moz-box-shadow: 0px 0px 3px 1px #e38d13;
    box-shadow: 0px 0px 3px 1px #e38d13;
}

.btn-default.btn-circle {
    -webkit-box-shadow: 0px 0px 3px 1px #ccc;
    -moz-box-shadow: 0px 0px 3px 1px #ccc;
    box-shadow: 0px 0px 3px 1px #ccc;
}

.embed-container {
    position: relative;
    padding-bottom: 190%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}